.env
node_modules/
src/
.vscode/
**/*.map
*.ts
.omc/
__pycache__/
.github/
test/
output/
assets/
AGENTS.md
keybindings.json
tsconfig.json
vhash-vscode-ext.py
vhash_vscode_ext_config.py
xapp.yml
.gitignore
.DS_Store
